pyramid==1.5a2
pyramid_chameleon>=0.1
SQLAlchemy==0.8.3
psycopg2>=2.5.1
transaction>=1.4.1
pyramid_tm>=0.7
pyramid_debugtoolbar>=1.0.9
zope.sqlalchemy>=0.7.3
waitress>=0.8.7
deform>=2.0a2
passlib>=1.6.1
xhtml2pdf>=0.0.5
alembic>=0.6.1
pyramid_redis_session
