body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  color: #ffffff;
  background: #bc2131;
}

h1,
h2,
h3,
h4,
h5,
h6 { font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; font-weight: 300; }
p { font-weight: 300; }

iframe#body
{
	min-height: 600px;
	min-width: 600px;
};